body {
    background-color: black;
}
.border-one {

    background-color:black;
    margin: 10px;
    width: 500px;
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    margin: auto;
}

.border-two{
    background-color: black;
    padding: 20px;
    width: 100px;
    text-align: center;
    margin: 10px;
    color: azure;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}

.radioOne{
    border: 1px solid greenyellow;
    border-radius: 50px;
}

.radioTwo{
    border-bottom: 1px solid greenyellow;
    border-radius: 100px;
}

.radioTree{
    border-top: 1px solid greenyellow;
    border-radius: 150px;
}

.radioFour{
    border-right: 1px solid greenyellow;
    border-radius: 200px;

}

.radioFive{
    border-left: 1px solid greenyellow;
    border-radius: 200px;
}

