body{
    margin: 0;
    
}

div, body {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.contenedor{
    width: 100%;
    aspect-ratio: 19/6;
    background-color: blue;

}

video{
    max-width: 100%;
}