body{
    margin: 0;
    font-family: sans-serif;
}

div, body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    min-width: 400px;
    margin: auto;
    padding: 20px;
    background-color:beige;

}


.caja{
    display: inline-block;
    background-color: #4bd;
    min-width: 250px;
    margin: auto;
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 12px;
    padding: 10px;
    margin: 4px;

    
}