@font-face {
    font-family: "Monserrat";
    src: url("/Nivel-Basico-CSS/Propiedades-Texto-Fuente/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Monserrat";
    src: url("/Nivel-Basico-CSS/Propiedades-Texto-Fuente/fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Monserrat";
    src: url("/Nivel-Basico-CSS/Propiedades-Texto-Fuente/fonts/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Monserrat";
    src: url("/Nivel-Basico-CSS/Propiedades-Texto-Fuente/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Monserrat";
    src: url("/Nivel-Basico-CSS/Propiedades-Texto-Fuente/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}